body {
	background-color: #fffdf7;
	font-family: "Lora";
}

.container h1 {
	text-align: center;
	color: purple;
	text-decoration: none;
	text-transform: uppercase;
	line-height: .45;
	font-family: "Bentham", monospace;
	font-size: 5.0em;
}

a {
	color: #411647;
	text-decoration: none;
}

#topnav {
	width: 100%;
	display: inline-block;
	margin: -10px -20px;
	padding: -20px -20px;
	list-style: none;
	background-color: none;
	overflow: hidden;
	text-align: center;
	border-bottom: 1px solid White;
	border-top: 1px solid white;
}


#topnav li {
	display: inline-block;
}

#topnav li a {
	display: block;
	color: #411647;
	text-decoration: none;
	font-size: 17px;
	font-family: "GoldenRatio", monospace;
	padding: 8px 15px;
}

#topnav li a:hover {
	color: Sienna;
}
#topnav li a:active {
	color: black;
	cursor: default;
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	overflow: hidden;
	text-align: center;
	color: #411647;
	font-size: 15px;
	font-family: "GoldenRatio", monospace;
	display: inline-block;
    margin-top: 2%;
}

footer div {
	display: inline-block;
	text-align: center;
	padding-left: 30px;

}

#phone {
	color: Sienna;
}

#email a:hover {
	color: Steelblue;
}

#top {
	text-align: center;
	color: #411647;
	font-family: "GoldenRatio", monospace;
	line-height: 0;
	font-size: 3em;
    margin: 4%;
}

.dropbtn {
	background-color: #fffdf7;
	color: #411647;
	padding: 16px;
	font-size: 16px;
	border: none;
	font-family: "GoldenRatio";
}

.dropdown li {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: none;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: blue;
	background-color: #fffdf7;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	z-index: 1; 
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: BurlyWood;
}

.content {
	color: black;
	background: white;
	width: 60%;
	height: auto;
	margin: auto ;
	padding: 20px;
	position: relative;
	vertical-align: middle;

}

.content p {
	color: #black;
	text-align: center;
    align-content: left;
}

.content img {
	height: 300px;
	width: 300px;
    float: left;
    padding: 1%;
}

.foodPics {
    text-align: center;
    height: auto;
}

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

img {
  width: 20%;
  height: auto;
	padding: 5px;
}

h2 {
  text-align:center;
	padding-bottom: 1em;
}

 li {
    display:inline-block;
    margin-left: 4px;
    margin-right: 4px;
 }   


@font-face {
	font-family: "BarQ";
	src: url('fonts/Barq.ttf');
}

@font-face {
	font-family: "Westmeath";
	src: url('fonts/Westmeath.ttf');
}

@font-face {
	font-family: "Portabell";
	src: url('fonts/Portabell.ttf');
}

@font-face {
	font-family: "Usuazi";
	src: url('fonts/gomarice_usuazi_hosomozi.ttf');
}

@font-face {
	font-family: "Bentham";
	src: url('fonts/Bentham-Regular.ttf');
}

@font-face {
	font-family: "Tajamuka";
	src: url('fonts/Tajamuka_Script.ttf');
}

@font-face {
	font-family: "GoldenRatio";
	src: url('fonts/GoldenRatio-Demo.ttf');
}

@font-face {
	font-family: "Linguistics";
	src: url('fonts/LiguisticsPro-Regular.otf');
}

@font-face {
	font-family: "Adamina";
	src: url('fonts/Adamina-Regular.ttf');
}

@font-face {
	font-family: "Poly";
	src: url('fonts/Poly-Regular.ttf');
}

@font-face {
	font-family: "Flamenco-L";
	src: url('fonts/Flamenco-Light.ttf');
}

@font-face {
	font-family: "Flamenco-R";
	src: url('fonts/Flamenco-Regular.ttf');
}

@font-face {
	font-family: "LifeSavers-B";
	src: url('fonts/LifeSavers-Bold.ttf');
}

@font-face {
	font-family: "LifeSavers-R";
	src: url('fonts/LifeSavers-Regular.ttf');
}

@font-face {
	font-family: "Lora";
	src: url('fonts/Lora-Regular.ttf');
}